@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

.explore-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.Explorething {
    background-color: #282c34;
    color: aliceblue;
    text-align: left;
}

#exploreMainTitle {
    color: aliceblue;
}